.container {
  background-color: rgb(151, 80, 189);
  width: 420px;
  min-height: 200px;
  color: rgb(252, 252, 252);
  margin: 15px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.bolao1 {
  margin-top: 10px;
}
.bolao1 h2,
h5 {
  display: inline;
}
.bolao1 h2 {
  margin-right: 25px;
}
.bolao2 h5 {
  margin-right: 80px;
}
.bolao2 .back2 {
  background-color: rgb(252, 252, 252);
  color: rgb(151, 80, 189);
  padding: 5px;
}
/* .bolao2 .back1 {
    background-color: rgba(152, 152, 152, 0.5);
  } */
.bolao3 {
  margin-top: 30px;
  display: flex;
}
.bolao3 back {
}
.bolao3 div {
  border: 1px solid rgb(252, 252, 252);
  font-size: 16px;
  width: 205px;
  border-radius: 4px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
}
.blue {
  background-color: rgb(159, 23, 100);
}
.pink {
  background-color: rgb(122, 139, 8);
}
