.header {
  width: 1200px;
  height: 64px;
}
.Navbar {
  display: flex;
  color: #4d574f;
  line-height: 24px;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header2 {
  background-color: #008aff;
  width: 19px;
  height: 2px;
}
.header3 {
  width: 22px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header1 {
  display: flex;
  align-items: center;
  color: #008aff;
}
.mark:hover {
  color: #008aff;
  cursor: pointer;
}
.button-default {
  max-width: 130px;
  padding: 10px 27.4px 10px 27.6px;
  color: #fcfcfc;
  font-size: 14px;
  background-color: #008aff;
  border-radius: 18px;
  box-shadow: 0px 3px 6px 0px rgba(158, 158, 158, 0.29);
  border: none;
  cursor: pointer;
}

.header4 {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-outlined {
  max-width: 130px;
  padding: 10px 27.4px 10px 27.6px;
  color: #fcfcfc;
  font-size: 14px;
  border-radius: 18px;
  box-shadow: 0px 3px 6px 0px rgba(158, 158, 158, 0.29);
  background: none;
  border: 1px solid #008aff;
  color: #008aff;
  cursor: pointer;
}
.header5 {
  width: 100vw;
  height: 2px;
  background-color: rgba(100, 100, 100, 0.2);
}
